


body {

  font-size: 19px;
  color: #5c5c5c;
  font-family: Lato, arial, sans-serif;
  background-color: #f4f4f4;
}

#page {
 

}

#main {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 10px 0px 10px;
}

#footer {
  margin-top: 50px;
  text-align: center;
  font-size: 10px;
}

.section {
  margin-top: 10px;
  padding-bottom: 20px;
  clear: left;

}

.subhead {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}


h1 {
  
  font-size: 36px;
  font-weight: 100;
  text-align: center;
  padding: 40px 0px;
}
h2 {
  color: black;
  font-size: 28px;
  padding: 20px 0 6px 0;
}
ul {
  margin-left: 20px;
}
ul li {
  list-style-type: circle;

}
ol {
  margin-left: 20px;
  padding: 10px;
}

ol li {
  list-style: decimal;
}

#menu {
  text-align: center;


}

#menu ul {
  list-style: none;
  text-align: center;
  margin: 0;


}
#menu li {
  display: inline-block;
  padding: 20px;
}
p {
  padding: 10px 0px;
}
hr {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  width: 50%;
}

a {
  text-decoration: none;
  color: black;

 }

a:hover {
  text-decoration: underline; 
}



#cf-image {
  width: 100px;
  border-radius: 10px;
}
#cf-image-small {
  width: 75px;
  border-radius: 6px;
}
.img-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.cf {
  clear: left;
}
.underline {
  text-decoration: underline;
 
}

#appstore {
  text-align: center;
  padding: 20px;
}
#appstore img {
  width: 200px;
}

