.box {
  border-radius: 10px;
  border: 4px solid grey;
  opacity: 0,9;
  font-size: 200%;
  color: white;
  position: absolute;
  bottom: 10%;
  overflow: hidden;
  text-align: center; }
  .box h2 {
    padding: 20px; }

#area-1 {
  background-color: green; }

#area-2 {
  background-color: blue; }

#area-3 {
  background-color: red; }

#key {
  position: absolute;
  bottom: 10px; }
